.App {
  text-align: center;
  background-color:honeydew;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

.galleryList{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 0 50px;
    grid-auto-rows: 200px;
    
    
}

.image{
  border: solid black;

}

.button{
  margin-bottom: 10em;
}
